.panel-fullheight{
    min-height: calc( 100vh - 252px );
}
.info{
    margin-top:10px;
    min-height:  calc( 100vh - 252px - 10px);
        
}

.my-footer{
    height: 50px;
    background-color: #a0a0a0;
}
#logo_heading
{
    margin-top:20px;
    height: 90px;
}

.ute-logo
{
    float: left;
    height: 70px;
    width: 70px;
     margin-right: 20px;
}

#logo_title{
    margin-top: 10px;
}

.s-name{
	border-bottom: 3px solid #4AC5AF;
	background-color: #fff;
	color: red;
	padding: 5px 0;
	display: inline;
}
.website-name{
	padding-top: 10px;
}
.panel_with_table{
    border: solid #fff;
    margin-bottom:0;
}

.table_list , #panel-default-nopbai{
    margin-bottom:0;
}
.btn_group_der{
    float:right;
    margin-right: 20px;
}
#type_topic, .list-group-detail
{
    margin:0;   
    padding: 0;
}
#type_topic > div, .list-group-item  > p, .list-item{
margin:0;  
}

.col-md-content
{
margin-top: 15px;

}
#panel-default-tvhd{
    border: solid #fff;
}
.panel-fixed
{
    width : 95%;
    border: 1px solid red
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 185px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.td_btn{
    padding: 0;
}
.btn_float_right{
    float: right;
}
.container > #btn-bc{
   margin: 10px;
}
video{
  border: 1px solid black;
}

/*commemtbox*/
.detailBox {
    width:95%;
    border:1px solid #bbb;
    margin:0px; 
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.count-up-timer
{
    float : right
}
